<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jokes App</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" href="static/laughing.png" type="image/x-icon"/>
</head>
<body>

    <header>
        <div class="container">
            <div class="titulo">
                Jokes <span class="app">App</span>
            </div>
        </div>
    </header>

    <main>
        <section class="joke-container">
            <div class="joke">
                <h3>{{ results }}</h3>
            </div>
            <div class="btn">
                <input type="submit" value="New joke" onclick="window.location.href= window.location.href;">
            </div>
        </section>
    </main>

</body>
</html>